infrastructure/stepfunctions/project-specific/component-similarity.json
{
    "Comment": "App-ModEx Component Similarity Analysis Workflow - Simplified Architecture (All Sizes Use Large Dataset Flow) - FIXED ERROR HANDLING",
    "StartAt": "UpdateProcessToProcessing",
    "States": {
        "UpdateProcessToProcessing": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:updateItem",
            "Parameters": {
                "TableName.$": "$.processTableName",
                "Key": {
                    "processId": {
                        "S.$": "$.processId"
                    }
                },
                "UpdateExpression": "SET #status = :status, updatedAt = :updatedAt",
                "ExpressionAttributeNames": {
                    "#status": "status"
                },
                "ExpressionAttributeValues": {
                    ":status": {
                        "S": "PROCESSING"
                    },
                    ":updatedAt": {
                        "S.$": "$$.State.EnteredTime"
                    }
                }
            },
            "ResultPath": null,
            "Next": "PrepareComponentQuery",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "ResultPath": "$.error",
                    "Next": "UpdateProcessToFailed"
                }
            ]
        },
        "PrepareComponentQuery": {
            "Type": "Pass",
            "Parameters": {
                "templateId": "component-similarity-tech-stack",
                "parameters": {},
                "dataType": "component-similarity",
                "projectId.$": "$.projectId",
                "processId.$": "$.processId",
                "processTableName.$": "$.processTableName",
                "filters.$": "$.filters"
            },
            "ResultPath": "$.queryParams",
            "Next": "ExecuteDatasetQuery"
        },
        "ExecuteDatasetQuery": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:${cdk.Aws.REGION}:${cdk.Aws.ACCOUNT_ID}:function:app-modex-athena-s3-wrapper-${props.projectId}",
            "Parameters": {
                "body.$": "States.JsonToString($.queryParams)",
                "httpMethod": "POST",
                "headers": {
                    "Content-Type": "application/json"
                }
            },
            "ResultPath": "$.athena_result",
            "Next": "ParseDatasetResponse",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "IntervalSeconds": 30,
                    "MaxAttempts": 2,
                    "BackoffRate": 2.0
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "ResultPath": "$.error",
                    "Next": "UpdateProcessToFailed"
                }
            ]
        },
        "ParseDatasetResponse": {
            "Type": "Pass",
            "Parameters": {
                "projectId.$": "$.projectId",
                "processId.$": "$.processId",
                "processTableName.$": "$.processTableName",
                "analysisType.$": "$.analysisType",
                "filters.$": "$.filters",
                "timestamp.$": "$.timestamp",
                "queryParams.$": "$.queryParams",
                "s3_data_info.$": "States.StringToJson($.athena_result.body)",
                "dataStoredInS3": true
            },
            "Next": "PartitionDataset"
        },
        "PartitionDataset": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:${cdk.Aws.REGION}:${cdk.Aws.ACCOUNT_ID}:function:app-modex-comp-partition-${props.projectId}",
            "InputPath": "$",
            "ResultPath": "$.partition_result",
            "Next": "ProcessPartitions",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "IntervalSeconds": 10,
                    "MaxAttempts": 2,
                    "BackoffRate": 2.0
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "ResultPath": "$.error",
                    "Next": "UpdateProcessToFailed"
                }
            ]
        },
        "ProcessPartitions": {
            "Type": "Map",
            "ItemsPath": "$.partition_result.partitions",
            "MaxConcurrency": 50,
            "Iterator": {
                "StartAt": "ProcessSinglePartition",
                "States": {
                    "ProcessSinglePartition": {
                        "Type": "Task",
                        "Resource": "arn:aws:lambda:${cdk.Aws.REGION}:${cdk.Aws.ACCOUNT_ID}:function:app-modex-comp-process-${props.projectId}",
                        "End": true,
                        "Retry": [
                            {
                                "ErrorEquals": [
                                    "States.TaskFailed"
                                ],
                                "IntervalSeconds": 10,
                                "MaxAttempts": 2,
                                "BackoffRate": 2.0
                            }
                        ]
                    }
                }
            },
            "ResultPath": "$.partition_results",
            "Next": "AggregatePartitionResults",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "ResultPath": "$.error",
                    "Next": "UpdateProcessToFailed"
                }
            ]
        },
        "AggregatePartitionResults": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:${cdk.Aws.REGION}:${cdk.Aws.ACCOUNT_ID}:function:app-modex-comp-aggregate-${props.projectId}",
            "ResultPath": "$.aggregate_result",
            "Next": "GenerateClusters",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "IntervalSeconds": 10,
                    "MaxAttempts": 2,
                    "BackoffRate": 2.0
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "ResultPath": "$.error",
                    "Next": "UpdateProcessToFailed"
                }
            ]
        },
        "GenerateClusters": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:${cdk.Aws.REGION}:${cdk.Aws.ACCOUNT_ID}:function:app-modex-comp-clusters-${props.projectId}",
            "InputPath": "$",
            "ResultPath": "$.cluster_result",
            "Next": "FindPatterns",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "IntervalSeconds": 10,
                    "MaxAttempts": 2,
                    "BackoffRate": 2.0
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "ResultPath": "$.error",
                    "Next": "UpdateProcessToFailed"
                }
            ]
        },
        "FindPatterns": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:${cdk.Aws.REGION}:${cdk.Aws.ACCOUNT_ID}:function:app-modex-comp-patterns-${props.projectId}",
            "InputPath": "$",
            "ResultPath": "$.pattern_result",
            "Next": "StoreResults",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "IntervalSeconds": 10,
                    "MaxAttempts": 2,
                    "BackoffRate": 2.0
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "ResultPath": "$.error",
                    "Next": "UpdateProcessToFailed"
                }
            ]
        },
        "StoreResults": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:${cdk.Aws.REGION}:${cdk.Aws.ACCOUNT_ID}:function:app-modex-comp-store-${props.projectId}",
            "InputPath": "$",
            "ResultPath": "$.store_result",
            "Next": "UpdateProcessToCompleted",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "IntervalSeconds": 10,
                    "MaxAttempts": 2,
                    "BackoffRate": 2.0
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "ResultPath": "$.error",
                    "Next": "UpdateProcessToFailed"
                }
            ]
        },
        "UpdateProcessToCompleted": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:updateItem",
            "Parameters": {
                "TableName.$": "$.processTableName",
                "Key": {
                    "processId": {
                        "S.$": "$.processId"
                    }
                },
                "UpdateExpression": "SET #status = :status, updatedAt = :updatedAt",
                "ExpressionAttributeNames": {
                    "#status": "status"
                },
                "ExpressionAttributeValues": {
                    ":status": {
                        "S": "COMPLETED"
                    },
                    ":updatedAt": {
                        "S.$": "$$.State.EnteredTime"
                    }
                }
            },
            "ResultPath": null,
            "Next": "ComponentAnalysisComplete"
        },
        "ComponentAnalysisComplete": {
            "Type": "Succeed"
        },
        "UpdateProcessToFailed": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:updateItem",
            "Parameters": {
                "TableName.$": "$.processTableName",
                "Key": {
                    "processId": {
                        "S.$": "$.processId"
                    }
                },
                "UpdateExpression": "SET #status = :status, updatedAt = :updatedAt, errorMessage = :errorMessage",
                "ExpressionAttributeNames": {
                    "#status": "status"
                },
                "ExpressionAttributeValues": {
                    ":status": {
                        "S": "FAILED"
                    },
                    ":updatedAt": {
                        "S.$": "$$.State.EnteredTime"
                    },
                    ":errorMessage": {
                        "S.$": "States.Format('Error: {}', $.error.Error)"
                    }
                }
            },
            "ResultPath": null,
            "Next": "ComponentAnalysisFailed"
        },
        "ComponentAnalysisFailed": {
            "Type": "Fail",
            "Cause": "Component similarity analysis failed"
        }
    }
}
